*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokedex{
    width: 400px;
    position: relative;
}
.pokedex img{
    width: 100%;
}
.pokemon{
    width: 195px;
    height: 152px;
    background-color: white;
    border-radius: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-59%, -85%);
}

body{
    background-color: aquamarine;
}